BasedOnStyle: Google 

BinPackArguments: false
BinPackParameters: false
ColumnLimit: 0
IndentWidth: 4

TabWidth: 4
UseTab: Never
SortIncludes: false

AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
# IndentCaseLabels: true
BreakBeforeBraces: Stroustrup
